In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('Hyderabad_scraped_car_data.csv')
df

,Year,Make,Model,Variant,Kilometers Driven,Fuel Type,Owner,Price,EMI
0,2017,Maruti,Baleno,ZETA CVT PETROL 1.2,"1,12,062 km",Petrol,1st owner,₹5.82L,"EMI ₹12,951/m"
1,2023,Maruti,Grand,Vitara DELTA SMART HYBRID,"28,842 km",Petrol,1st owner,₹12.10L,"EMI ₹23,031/m"
2,2022,Maruti,Ertiga,VXI AT SHVS,"35,378 km",Petrol,1st owner,₹10.34L,"EMI ₹19,681/m"
3,2017,Ford,Ecosport,TITANIUM 1.5L DIESEL,"93,259 km",Diesel,1st owner,₹6.61L,"EMI ₹12,923/m"
4,2016,Maruti,Vitara,Brezza ZDI,"76,173 km",Diesel,1st owner,₹7.62L,"EMI ₹14,902/m"
...,...,...,...,...,...,...,...,...,...
498,2016,Tata,Tiago,XT PETROL,"93,753 km",Petrol,2nd owner,₹3.03L,"EMI ₹5,924/m"
499,2021,Hyundai,VENUE,SX PLUS 1.0 TURBO DCT,"56,203 km",Petrol,1st owner,₹10.22L,"EMI ₹19,453/m"
500,2019,Volkswagen,Polo,HIGHLINE PLUS 1.0 16 ALLOY,"60,508 km",Petrol,2nd owner,₹5.50L,"EMI ₹10,753/m"
501,2017,Tata,Tiago,XZA PETROL,"68,738 km",Petrol,1st owner,₹3.99L,"EMI ₹7,801/m"
502,2013,Hyundai,Grand,i10 SPORTZ 1.2 KAPPA VTVT,"91,026 km",Petrol,2nd owner,₹3.17L,"EMI ₹8,348/m"

In [23]:
# Clean the 'Price' column to convert it into integer format
def clean_price(price):
    # Remove '₹', 'L', and commas, then convert to float and scale lakhs to integer
    price = price.replace('₹', '').replace('L', '').replace(',', '').strip()
    return int(float(price) * 100000)  # Scale lakhs to integer

# Apply the cleaning function to the 'Price' column
df['Price'] = df['Price'].apply(clean_price)

In [24]:
df

,Year,Make,Model,Variant,Kilometers Driven,Fuel Type,Owner,Price,EMI
0,2017,Maruti,Baleno,ZETA CVT PETROL 1.2,"1,12,062 km",Petrol,1st owner,582000,"EMI ₹12,951/m"
1,2023,Maruti,Grand,Vitara DELTA SMART HYBRID,"28,842 km",Petrol,1st owner,1210000,"EMI ₹23,031/m"
2,2022,Maruti,Ertiga,VXI AT SHVS,"35,378 km",Petrol,1st owner,1034000,"EMI ₹19,681/m"
3,2017,Ford,Ecosport,TITANIUM 1.5L DIESEL,"93,259 km",Diesel,1st owner,661000,"EMI ₹12,923/m"
4,2016,Maruti,Vitara,Brezza ZDI,"76,173 km",Diesel,1st owner,762000,"EMI ₹14,902/m"
...,...,...,...,...,...,...,...,...,...
498,2016,Tata,Tiago,XT PETROL,"93,753 km",Petrol,2nd owner,303000,"EMI ₹5,924/m"
499,2021,Hyundai,VENUE,SX PLUS 1.0 TURBO DCT,"56,203 km",Petrol,1st owner,1022000,"EMI ₹19,453/m"
500,2019,Volkswagen,Polo,HIGHLINE PLUS 1.0 16 ALLOY,"60,508 km",Petrol,2nd owner,550000,"EMI ₹10,753/m"
501,2017,Tata,Tiago,XZA PETROL,"68,738 km",Petrol,1st owner,399000,"EMI ₹7,801/m"
502,2013,Hyundai,Grand,i10 SPORTZ 1.2 KAPPA VTVT,"91,026 km",Petrol,2nd owner,317000,"EMI ₹8,348/m"

In [25]:
df.to_csv('car_data.csv', index=False)

In [28]:
cars_df = pd.read_csv('car_data.csv')
cars_df

,Year,Make,Model,Variant,Kilometers Driven,Fuel Type,Owner,Price,EMI
0,2017,Maruti,Baleno,ZETA CVT PETROL 1.2,"1,12,062 km",Petrol,1st owner,582000,"EMI ₹12,951/m"
1,2023,Maruti,Grand,Vitara DELTA SMART HYBRID,"28,842 km",Petrol,1st owner,1210000,"EMI ₹23,031/m"
2,2022,Maruti,Ertiga,VXI AT SHVS,"35,378 km",Petrol,1st owner,1034000,"EMI ₹19,681/m"
3,2017,Ford,Ecosport,TITANIUM 1.5L DIESEL,"93,259 km",Diesel,1st owner,661000,"EMI ₹12,923/m"
4,2016,Maruti,Vitara,Brezza ZDI,"76,173 km",Diesel,1st owner,762000,"EMI ₹14,902/m"
...,...,...,...,...,...,...,...,...,...
498,2016,Tata,Tiago,XT PETROL,"93,753 km",Petrol,2nd owner,303000,"EMI ₹5,924/m"
499,2021,Hyundai,VENUE,SX PLUS 1.0 TURBO DCT,"56,203 km",Petrol,1st owner,1022000,"EMI ₹19,453/m"
500,2019,Volkswagen,Polo,HIGHLINE PLUS 1.0 16 ALLOY,"60,508 km",Petrol,2nd owner,550000,"EMI ₹10,753/m"
501,2017,Tata,Tiago,XZA PETROL,"68,738 km",Petrol,1st owner,399000,"EMI ₹7,801/m"
502,2013,Hyundai,Grand,i10 SPORTZ 1.2 KAPPA VTVT,"91,026 km",Petrol,2nd owner,317000,"EMI ₹8,348/m"